.menu-slider {
  background-color: #a40e00;
  opacity: 0.8;
  background: repeating-linear-gradient(
    45deg,
    #ca0909,
    #ca0909 5px,
    #a40e00 5px,
    #a40e00 25px
  );
}

.order {
  font-family: Courgette;
}
